@media only screen and (max-width: 480px) {
.column1, .column2 {
	width: 100%;
}
.padding {
	padding: 10px;
}
.social li {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}
.share {
	text-align: center;
}
.related {
	display: block;
	padding-bottom: 100px;
}
.movil_center {
	text-align: center;
	float:none;
	margin-bottom: 10px;
}
.search {
	display:none!important;}
.teaser h1{
	font-size: 40px;
}
.teaser button {
	display: inline-block;
}
.teaser button {
	font-size: 14px;
}
.teaser{
	height: 400px;
}
.header{
	text-align: center;
	margin: auto;
	display: block;
	padding-right: 0px;
	padding-left: 0px;
}
.darkgrey {
	background-position: 50% 10%;
	height:150px;
}
.darkgrey ul {
	padding-top: 35px;
}
.darkgrey li {
	width: 100%;
	float:none;
}
.carousel1, .carousel2 {
	width: 100%;
}
.header .menu {
	padding-top: 20px;
}
.header li a {
	font-size: 13px;
}
.menu {
	margin: 0px;
	width: 100%;
}
.menu li {
	display: block;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding: 10px;
	font-size: 20px;

}
.menu li a {
	font-size: 18px;
}
aside {
	width: 100%;
	float: none;
}
.logo {
	float:none;
	text-align: center;}

.headerleft {
	width: 100%;
	float: none;
	text-align: center;
	}
	.footermenu {
		float: none;
	}
	.footermenu ul {
		text-align: center;
		float: none;
		margin: auto;
		padding-top: 50px;
		display: block;
		border: 0px;
	}
	.footermenu li {
		width: 100%;
		display: block;
		border: 0px;
		padding-top: 10px;
	}
	.footer {
		height: 200px;
		text-align: center;
	}
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
	.social li {
	display: block;
	width: 100%;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
}
	.share {
	text-align: center;
}
	.related {
	display: block;
	padding-bottom: 100px;
}	
	.search {display: none;}
	.btn1, .btn2{
		font-size: 0.9em;
	}
	.menu {
		padding-top: 30px;
		margin: 0px;
	}
	.logo {
		text-align: center;	
		margin:auto;
		float: none;
	}
	.footermenu {
		float:none;
	}
	.footermenu ul {
		text-align: center;
		float: none;
		margin: auto;
		padding-top: 40px;
		display: block;
		border: 0px;
	}
	.footermenu li {
		width: 100%;
		display: block;
		border: 0px;
		padding-top: 10px;
	}
	.footer {
		height: 200px;
		text-align: center;
	}
	.headerleft {
	float: none;
	text-align: center;
	}
	aside {
	width: 100%;
	float: none;
}
	.column1 {
		width: 100%;
	}
	.column1 img {
		width: 100%;
	}
	.column2 {
		width: 100%;
	}
	.movil_center {
	text-align: center;
	float:none;
	margin-bottom: 10px;
}
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
	.carousel1, .carousel2 {width: 100%;}
	.search {
		display: none;
	}
	.teaser button {
		display: inline-block;
	}
	.darkgrey {
	background-position: 0% 70%;}
	.column1 {
		width: 50%;
	}
	.column1 img {
		width: 100%;
	}
	.column2 {
		width: 43%;
	}
	.movil_center {
	text-align: center;
	float:none;
	margin-bottom: 10px;
}

	.related {
		padding-bottom: 120px;
	}
	.ratings ul li {
		padding: 10px 0 10px 0;
}
	.social li{
	width: 45%;
	margin-left: 0px;
	margin-right: 10px;
	}
	.headerleft {
	float: none;
	text-align: center;
	}
	.menu { padding-top: 30px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.search {
		display: none;
	}
	.headerleft {
		float: none;
		text-align: center;
	}
	.teaser button {
		display: inline-block;
	}
	.darkgrey {
	background-position: 0% 70%;}

	.column1 {
		width: 50%;
	}
	.column1 img {
		width: 100%;
	}
	.column2 {
		width: 43%;
	}
	.movil_center {
	text-align: center;
	float:none;
	margin-bottom: 10px;
	}
	.related {
		padding-bottom: 90px;
	}
	.ratings ul li {
		padding: 10px 0 10px 0;
}
	.social li{
	width: 45%;
	margin-left: 0px;
	margin-right: 10px;
	}
}
@media only screen and (min-width:1200px) {
	.related{
		padding-bottom: 70px;
	}
}